---
layout: default
title: Execs
description: WICS Execs
---

<link rel="stylesheet" type="text/css" href="execs.css">

<div class="container">
    <div class="row title">
        <b>WICS Execs</b>
    </div>
</div>

<div class="container">
    <div class="row header-row">
        <div class="col-md-4 col-title">
            <b>Co-Presidents: Kat and Julia</b>
        </div>
        <div class="col-md-4 col-title">
            <b>Co-Vice Presidents: Diljot and Raquel</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% include co-pres-ig.html %}
        </div>
        <div class="col-md-4">
            {% include co-vp-ig.html %}
        </div>
    </div>
</div>
