---
layout: default
title: Execs
description: WICS Execs
---

<link rel="stylesheet" type="text/css" href="execs.css" />

<div class="container">
    <div class="row title">
        <b>WICS Execs</b>
    </div>
</div>

<div class="container">
    <div class="row header-row">
        <div class="col-md-4 col-title">
            <b>President: Tife</b>
        </div>
        <div class="col-md-4 col-title">
            <b>Events Coordinator: Raquel</b>
        </div>
        <div class="col-md-4 col-title">
            <b>Outreach Director: Skyla</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% include tife.html %}
        </div>
        <div class="col-md-4">
            {% include raquel.html %}
        </div>
        <div class="col-md-4">
            {% include skyla.html %}
        </div>
    </div>
    <div class="row header-row">
        <div class="col-md-4 col-title">
            <b>Treasurer: Ceilidh</b>
        </div>
        <div class="col-md-4 col-title">
            <b>Social Media Coordinator: Ana</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% include ceilidh.html %}
        </div>
        <div class="col-md-4">
            {% include ana.html %}
        </div>
    </div>
</div>