---
layout: default
permalink: /members/
title: Members
description: WICS Members
---

{% asset css/members.css %}

<div class="container">
    <div class="row title">
        <p><b>WICS Members</b></p>
    </div>
</div>

{% include members-modal.html %}

<!-- container class -->
<div class="container">
    <div id="execs">
        <!-- execs-class -->
        <div class="sub-title">
            <b>{{ site.data.members.execs.docs_list_title }}</b>
        </div>

        <div class="ui left grid" style="margin-top: 30px;">
            {% for item in site.data.members.execs.docs %} {% assign mod6 = forloop.index | modulo:
            6 %}
            <div class="column-card">
                <div class="card">
                    <div id="{{ item.identification }}-img" class="avatar">
                        {% if item.modal == true %}
                        <div class="img__overlay">
                            CLICK HERE!<br />
                            <p>more about {{ item.name }}</p>
                        </div>
                        {% endif %} {% asset "{{ item.image }}" %}
                    </div>

                    <div class="container-card">
                        <h3>{{ item.title }}</h3>
                        <p class="title-card">{{ item.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.execs-class -->

    <div id="management">
        <!-- management-class -->
        <div class="sub-title sub-title-padding-top">
            <b>{{ site.data.members.management.docs_list_title }}</b>
        </div>

        <div class="ui left grid" style="margin-top: 30px;">
            {% for item in site.data.members.management.docs %} {% assign mod6 = forloop.index |
            modulo: 6 %}
            <div class="column-card">
                <div class="card">
                    <div id="{{ item.identification }}-img" class="avatar">
                        {% if item.modal == true %}
                        <div class="img__overlay">
                            CLICK HERE!<br />
                            <p>more about {{ item.name }}</p>
                        </div>
                        {% endif %} {% asset "{{ item.image }}" %}
                    </div>

                    <div class="container-card">
                        <h3>{{ item.title }}</h3>
                        <p class="title-card">{{ item.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.ui centered grid-class -->
    </div>
    <!-- /.management-class -->

    <div id="website-committee">
        <!-- website-committee-class -->
        <div class="sub-title sub-title-padding-top">
            <b>{{ site.data.members.website-committee.docs_list_title }}</b>
        </div>

        <div class="ui left grid" style="margin-top: 30px;">
            {% for item in site.data.members.website-committee.docs %} {% assign mod6 =
            forloop.index | modulo: 6 %}
            <div class="column-card">
                <div class="card">
                    <div id="{{ item.identification }}-img" class="avatar">
                        {% if item.modal == true %}
                        <div class="img__overlay">
                            CLICK HERE!<br />
                            <p>more about {{ item.name }}</p>
                        </div>
                        {% endif %} {% asset "{{ item.image }}" %}
                    </div>

                    <div class="container-card">
                        <h3>{{ item.title }}</h3>
                        <p class="title-card">{{ item.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.ui centered grid-class -->
    </div>
    <!-- /.website-committee-class -->

    <div id="active-members">
        <!-- active-members-class -->
        <div class="sub-title sub-title-padding-top">
            <b>{{ site.data.members.active-members.docs_list_title }}</b>
        </div>

        <div class="ui left grid" style="margin-top: 30px;">
            {% for item in site.data.members.active-members.docs %} {% assign mod6 = forloop.index |
            modulo: 6 %}
            <div class="column-card">
                <div class="card">
                    <div id="{{ item.identification }}-img" class="avatar">
                        {% if item.modal == true %}
                        <div class="img__overlay">
                            CLICK HERE!<br />
                            <p>more about {{ item.name }}</p>
                        </div>
                        {% endif %} {% asset "{{ item.image }}" %}
                    </div>

                    <div class="container-card">
                        <h3>{{ item.title }}</h3>
                        <p class="title-card">{{ item.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.ui centered grid-class -->
    </div>
    <!-- /.active-members-class -->

    <div id="past-execs">
        <!-- past-execs-class -->
        <div class="sub-title sub-title-padding-top">
            <b>{{ site.data.members.past-execs.docs_list_title }}</b>
        </div>

        <div class="ui left grid" style="margin-top: 30px;">
            {% for item in site.data.members.past-execs.docs %} {% assign mod6 = forloop.index |
            modulo: 6 %}
            <div class="column-card">
                <div class="card">
                    <div id="{{ item.identification }}-img" class="avatar">
                        {% if item.modal == true %}
                        <div class="img__overlay">
                            CLICK HERE!<br />
                            <p>more about {{ item.name }}</p>
                        </div>
                        {% endif %} {% asset "{{ item.image }}" %}
                    </div>

                    <div class="container-card">
                        <h3>{{ item.title }}</h3>
                        <p class="title-card">{{ item.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.ui centered grid-class -->
    </div>
    <!-- /.past-execs-class -->

    <div id="alumni">
        <!-- alumni-class -->
        <div class="sub-title sub-title-padding-top">
            <b>{{ site.data.members.alumni.docs_list_title }}</b>
        </div>

        <div class="ui left grid" style="margin-top: 30px;">
            {% for item in site.data.members.alumni.docs %} {% assign mod6 = forloop.index | modulo:
            6 %}
            <div class="column-card">
                <div class="card">
                    <div id="{{ item.identification }}-img" class="avatar">
                        {% if item.modal == true %}
                        <div class="img__overlay">
                            CLICK HERE!<br />
                            <p>more about {{ item.name }}</p>
                        </div>
                        {% endif %} {% asset "{{ item.image }}" %}
                    </div>

                    <div class="container-card">
                        <h3>{{ item.title }}</h3>
                        <p class="title-card">{{ item.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.ui centered grid-class -->
    </div>
    <!-- /.alumni-class -->
</div>
<!-- /.container class -->

<!-- Modal -->
<script>
    $("#up-btn").click(function () {
        document.body.scrollTop = 0; // For Chrome, Safari and Opera
        document.documentElement.scrollTop = 0; // For IE and Firefox
    });
</script>

{% asset js/parallax.js %}

<script>
    $(document).ready(function () {
        {% for item in site.data.members.execs.docs %}
        {% if item.modal == true %}
        $("#{{ item.identification }}").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-img").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-close").click(function () {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        $('body').on('click', '.modal-backdrop.in', function (e) {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        {% endif %}
        {% endfor %}
    });
</script>

<script>
    $(document).ready(function () {
        {% for item in site.data.members.management.docs %}
        {% if item.modal == true %}
        $("#{{ item.identification }}").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-img").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-close").click(function () {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        $('body').on('click', '.modal-backdrop.in', function (e) {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        {% endif %}
        {% endfor %}
    });
</script>

<script>
    $(document).ready(function () {
        {% for item in site.data.members.website-committee.docs %}
        {% if item.modal == true %}

        $("#{{ item.identification }}").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-img").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-close").click(function () {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        $('body').on('click', '.modal-backdrop.in', function (e) {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        {% endif %}
        {% endfor %}
    });
</script>

<script>
    $(document).ready(function () {
        {% for item in site.data.members.active-members.docs %}
        {% if item.modal == true %}
        $("#{{ item.identification }}").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-img").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-close").click(function () {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        $('body').on('click', '.modal-backdrop.in', function (e) {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        {% endif %}
        {% endfor %}
    });
</script>

<script>
    $(document).ready(function () {
        {% for item in site.data.members.past-execs.docs %}
        {% if item.modal == true %}
        $("#{{ item.identification }}").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-img").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-close").click(function () {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        $('body').on('click', '.modal-backdrop.in', function (e) {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        {% endif %}
        {% endfor %}
    });
</script>

<script>
    $(document).ready(function () {
        {% for item in site.data.members.alumni.docs %}
        {% if item.modal == true %}

        $("#{{ item.identification }}").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-img").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-close").click(function () {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        $('body').on('click', '.modal-backdrop.in', function (e) {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        {% endif %}

        {% endfor %}
    });
</script>
<!-- /.Modal -->

{% include back-to-top2.html %}
