---
layout: default
permalink: /co-op/
title: Co-op
description: Highlighting WICS members who have/had done a co-op
---

<link type="text/css" href="{{site.baseurl}}/assets/css/co-op.css" rel="stylesheet"/>

<div class="container">
    <div class="row title">
        <a
            style="font-size: 45px;"
            href="http://coop.cs.umanitoba.ca/"
            class="black-link"
            target="_blank"
        >
            <p><b>Computer Science Co-op</b></p>
        </a>
    </div>
</div>

{% include coop-modal.html %}

<div
    class="parallax-window"
    data-parallax="scroll"
    data-image-src="{{site.baseurl}}/assets/img/co-op/wics-0554.jpg"
    data-speed="0.0"
></div>

<div class="background">
    <div class="container">
        <p class="text-justify">
            <br />
            <br />
            The
            <i
                ><a href="http://coop.cs.umanitoba.ca/" class="black-link" target="_blank"
                    >Computer Science Co-op Program</a
                ></i
            >
            at the University of Manitoba provides students with a fantastic opportunity to
            transform academic knowledge into real-world experience. The program has garnered much
            success over the last few years and has become one of the university's largest co-op
            programs securing an average of 180 placements per year. The program focuses on matching
            students with employers for three four-month work terms. The list of companies range
            from local Winnipeg-based start-ups to international corporations.
            <br />
            <br />
        </p>
        Click the following companies to see which WICS members have worked there:
        <div class="ui centered grid">
            {% for item in site.co-op-companies %} {% assign mod7 = forloop.index | modulo: 7 %}
            <div class="company-card col-md-2">
                <div class="ui link cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            {% if item.complete == true %} <img src="{{site.baseurl}}/assets/{{ item.image }}" id="{{
                            item.identification }}-img"/> {% endif %} {% if item.complete == false
                            %}
                            <a href="{{ item.link }}" target="_blank">
                                <img src="{{site.baseurl}}/assets/>{{ item.image }}" id="{{ item.identification }}-img"
                                width="100%"/>
                            </a>
                            {% endif %}
                        </div>
                        <div class="company-card-footer content" id="{{ item.identification }}">
                            <span class="header">{{ item.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{site.baseurl}}/assets/js/parallax.js>"></script>"

<script>
    $(document).ready(function () {
        {% for item in site.co-op-companies %}
        {% if item.complete == true %}
        $("#{{ item.identification }}").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-img").click(function () {
            $("#{{ item.identification }}-modal").modal("show");
        });
        $("#{{ item.identification }}-close").click(function () {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        $('body').on('click', '.modal-backdrop.in', function (e) {
            $("#{{ item.identification }}-modal").modal("hide");
        });
        {% endif %}
        {% endfor %}
    });
</script>
