# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### Intellij ###
.idea/
*.iml
*.ipr

### Jekyll ###
_site/ 
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### Bundler ###
.bundle/
vendor/
Gemfile.lock

### Dependencies ###
node_modules/
/.pnp
.pnp.js

### misc ###
.DS_Store
*.pem
magickpath.txt
