### Intellij ###
.idea/
*.iml
*.ipr

### Node ###
node_modules/

### macOS ###
.DS_Store

### Bundler ###
.bundle/
vendor/
Gemfile.lock

### Jekyll ###
_site/ 
.sass-cache/
.jekyll-cache/
.jekyll-metadata


### other ###
magickpath.txt