---
layout: default
title: U of M WICS
description: WICS Homepage
---

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"
></script>

<div class="container">
  <div class="row title">
    <p><b>U of M Women in Computer Science</b></p>
  </div>
  <div class="blink-block">
    <p class="blink-text">We are</p>
    <div class="blinking-cursor"></div>
  </div>
</div>

<div class="img-container">
  <div class="main-carousel" style="margin-bottom: 50px;">
    <div class="carousel-cell">
      <img class="carousel-img" src="/~wics/assets/img/home/carousel/SkipTheDishes-95-01.jpeg" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-img" src="/~wics/assets/img/home/carousel/execteam.jpg" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-img" src="/~wics/assets/img/home/carousel/mentormingle.jpg" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-img" src="/~wics/assets/img/home/carousel/skip.jpg" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="ui grid" style="margin: 300px 0;">
      <div class="column-card col-grow">
        <div class="card" style="text-align: center;">
          <h2>
            <b>
              FACEBOOK
            </b>
          </h2>
          <span class="social-subtitle">Like our Facebook page!</span>
          <div style="display: flex; justify-content: center;">
            {% include fb-timeline.html %}
          </div>
        </div>
      </div>
      <div class="column-card col-grow">
        <div class="card" style="text-align: center;">
          <h2>
            <b>
              INSTAGRAM
            </b>
          </h2>
          <span class="social-subtitle">Follow our Instagram page!</span>
          <div style="display: flex; justify-content: center;">
            {% include instagram-latest.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container"
  style="margin: 0; width: 100%; background-color: rgb(116, 119, 124); color: white;"
>
  <div class="row">
    <h3 style="text-align: center; margin: 25px 15px 25px 15px;">
      We are a group of University of Manitoba students who support women in technology. All are
      welcome to join!
    </h3>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/parallax.js"></script>
<script src="{{ site.baseurl }}/assets/js/blinkText.js"></script>
<script src="{{ site.baseurl }}/assets/js/carousel/flickity.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/home.js"></script>

<style>
  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    font-size: inherit;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }

  .col-grow {
    flex-grow: 1;
  }

  .social-subtitle {
    color: rgb(0, 0, 0, 0.7);
    font-style: italic;
  }

  @media screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }

    .social-icons {
      display: flex;
    }

    .navbar-brand {
      text-align: center;
    }
  }
</style>
