h1, h2, h3, h4, h5 {
    color: white;
    font-weight: bold;
}

.parallax-window {
    min-height: 650px;
    background: transparent;
}

.btn-outline-white {
        background-color: transparent;
        border-color: #ccc;
        padding: 30px 60px;
        font-size: 30px;
        color: white;
}

.row-center {
    text-align: center;
}

.text-lg {
    font-size: 30px;
}

p {
    padding-bottom: 10cm;
}
