<div class="row">
    <div class="up-btn" style="margin-top: 40px; float: right; margin-bottom: 30px" >
        <h4><a href="#" class="black-link"><img style="width: 20px; "src="{{ img_dir }}/up-arrow.png"/>Back to Top</a></h4>
    </div>
</div>

<!-- <div class="row">
    <div class="up-btn" style="position: fixed; top: 90%; left: 90%; margin-bottom: 30px" >
        <h4><a href="#" class="black-link"><img style="width: 20px; "src="{{ img_dir }}/up-arrow.png"/>Back to Top</a></h4>
    </div>
</div> -->