{% if item.major == true %}
<button
    onclick="{{ item.id }}()"
    class="button button-red"
    id="{{ item.id }}"
    data-toggle="tooltip"
    data-placement="bottom"
    data-trigger="hover"
    data-html="true"
    title='<h4>{{ item.title }}</h4>
        {{ item.desc }}
        {% if item.lab == true %}<br><span style="color:burlywood;">Lab required</span>{% endif %}
        <br><span style="color:lightgreen">Prerequisite:</span> {% for pre in item.prerequisite %} {{ pre }} {% endfor %}'>
    {{ item.name }}
</button>

{% elsif item.honours == true %}
<button
    onclick="{{ item.id }}()"
    class="button button-blue"
    id="{{ item.id }}"
    data-toggle="tooltip"
    data-placement="bottom"
    data-trigger="hover"
    data-html="true"
    title='<h4>{{ item.title }}</h4>
        {{ item.desc }}
        {% if item.lab == true %}<br><span style="color:burlywood;">Lab required</span>{% endif %}
        <br><span style="color:lightgreen">Prerequisite:</span> {% for pre in item.prerequisite %} {{ pre }} {% endfor %}'>
    {{ item.name }}
</button>

{% else %}
<button
    onclick="{{ item.id }}()"
    class="button button-gray"
    id="{{ item.id }}"
    data-toggle="tooltip"
    data-trigger="hover"
    data-placement="bottom"
    data-html="true"
    title='<h4>{{ item.title }}</h4>
        {{ item.desc }}
        {% if item.lab == true %}<br><span style="color:burlywood;">Lab required</span>{% endif %}
        <br><span style="color:lightgreen">Prerequisite:</span> {% for pre in item.prerequisite %} {{ pre }} {% endfor %}'>
    {{ item.name }}
</button>

{% endif %}