<div
  class="fb-page"
  data-href="https://www.facebook.com/umwics"
  data-tabs="timeline"
  data-width="500"
  data-height="800"
  data-small-header="false"
  data-adapt-container-width="true"
  data-hide-cover="false"
  data-show-facepile="true"
>
  <blockquote cite="https://www.facebook.com/umwics" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/umwics">UM Women in Computer Science</a>
  </blockquote>
</div>

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"
></script>
