<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>U of M WICS</title>
    {% endif %}

    <!--favicon-->
    <link rel="shortcut icon" href="{% asset img/favicon/favicon.ico @path %}">
	<link rel="icon" sizes="16x16 32x32 64x64" href="{% asset img/favicon/favicon.ico @path %}">
	<link rel="icon" type="image/png" sizes="196x196" href="{% asset img/favicon/favicon-192.png @path %}">
	<link rel="icon" type="image/png" sizes="160x160" href="{% asset img/favicon/favicon-160.png @path %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% asset img/favicon/favicon-96.png @path %}">
	<link rel="icon" type="image/png" sizes="64x64" href="{% asset img/favicon/favicon-64.png @path %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% asset img/favicon/favicon-32.png @path %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% asset img/favicon/favicon-16.png @path %}">
	<link rel="apple-touch-icon" href="{% asset img/favicon/favicon-57.png @path %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% asset img/favicon/favicon-114.png @path %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% asset img/favicon/favicon-72.png @path %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% asset img/favicon/favicon-144.png @path %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% asset img/favicon/favicon-60.png @path %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% asset img/favicon/favicon-120.png @path %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% asset img/favicon/favicon-76.png @path %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% asset img/favicon/favicon-152.png @path %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% asset img/favicon/favicon-180.png @path %}">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{% asset img/favicon/favicon-144.png @path %}">
	<meta name="msapplication-config" content="{% asset img/favicon/browserconfig.xml @path %}">
    <!--favicon-->

	<!--Shared styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
	{% asset css/carousel/flickity.css %}
	{% asset css/main.css %}
	<!--Shared styles-->

	<!--Shared scripts-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	{% asset js/main.js %}
	<script src="{{ site.baseurl }}/script.js"></script>
	<!--&lt;!&ndash;Shared scripts&ndash;&gt;<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.14/semantic.min.js"></script>-->

	<!--semantic ui-->
	{% asset dist/semantic.min.css %}
	{% asset dist/semantic.min.js %}
	<script
			src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>

</head>
