<header>
    <h1><b>{{ item.title }}</b></h1>
</header>
<h5>{{ item.date }} <br><i class="fa fa-map-marker" style="color: black"></i> {{ item.location }}</h5>
<p> {{ item.description }}<br><br></p> 
<h6> {{ item.photocredit }}<br></h6>

{% for image in site.static_files %}
{% if image.path contains item.imgurl %}
 <div class="gallery" id="gallery">
     <a target="_blank" href="{{ site.baseurl }}{{ image.path }}">
    <img src="{{ site.baseurl }}{{ image.path }}" alt="Cinque Terre">
    </a></div>
{% endif %}
{% endfor %}