<header>
    <h1><b>{{ item.title }}</b></h1>
</header>
<h5>
    {{ item.date }} <br /><i class="fa fa-map-marker" style="color: black;"></i> {{ item.location }}
</h5>
<p>{{ item.description }}<br /><br /></p>
<h6>{{ item.photocredit }}<br /></h6>

{% for a in assets %} {% if a[0] contains item.imgurl %}
<div class="gallery" id="gallery">
    <a target="_blank" href="{{site.baseurl}}/assets/{{ a[0] }}">
        <img
            src="{{site.baseurl}}/assets/{{ a[0] }}" magick:strip magick:resize=50x50 magick:units=PixelsPerInch magick:density=72x72 magick:quality=75
            alt="Cinque Terre"
            data-src="{{site.baseurl}}/assets/{{ a[0] }}"
            class="lazyload"
        />
    </a>
</div>
{% endif %} {% endfor %}
