html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

.black-link {
    color: black;
}

.black-link:hover {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.black-link:focus {
    text-decoration: none;
    color: black;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    background-image: none;
}

.navbar-default .navbar-nav>li>a {
    color: #475d68;
}
.navbar-default .navbar-toggle {
    border-color: #888;
}

.black-link {
    color: black;
}

.black-link:hover {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.breadcrumb {
    background: transparent;
}

/*****co-op page*****/
.darkened{
  filter: brightness(70%);
}

.middleText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
}

.carousel-caption {
    background: rgba(143, 145, 147, 0.9);
    border-radius: 20%;
}
