.events-heading {
    font-size: 45px;
    margin-top: 0;
}

.events-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calendar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.calendar-small {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 800px) {
    .calendar-large {
        display: none;
    }

    .calendar-small {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Desktop */
@media only screen and (min-width: 800px) {
    .calendar-small {
        display: none;
    }
}






div.gallery {
    margin: 5px;
    float: left;
    width: 270px;
    height: 270px;
    transition: transform .2s; /* Animation */
  }
  
  div.gallery:hover {
      transform: scale(2); 
  }
  
  div.gallery img {
    width: 270px;
    height: 270px;
    object-fit: cover;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.tab-pane h3{
    text-transform: uppercase;
    font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tab-pane h5{
    color: #828282;
    font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
